
{% block javascripts %}
<script>
  function RemoveBanner() {
    const banner = document.getElementById('expediteurBanner');
    sessionStorage.setItem('isBannerRemoved', 'true');
    banner.remove();
  }
  function verifyAndRemoveBanner() {
    if(sessionStorage.getItem('isBannerRemoved') != 'true') RemoveBanner();
  }
</script>
{% endblock %}

{% block body %}
<div id="expediteurBanner" class="my-5 bg-[#140A82]">
    <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
      <div class="flex flex-wrap items-center justify-between">
        <div class="flex w-0 flex-1 items-center">
          <span class="h-10 flex rounded-lg bg-white p-2">
            <!-- Heroicon name: outline/megaphone -->
            <svg class="w-5 h-10 pb-4" xmlns="http://www.w3.org/2000/svg" width="36.13" height="43.36" viewBox="0 0 36.13 43.36">
                <g id="Calque_2" data-name="Calque 2">
                  <g id="Calque_1-2" data-name="Calque 1">
                    <g id="Bonhomme">
                      <path id="Tracé_216" data-name="Tracé 216" d="M31.1,43.36H5a5,5,0,0,1-4-1.92,4.88,4.88,0,0,1-.93-4.15,18.43,18.43,0,0,1,35.87,0,4.84,4.84,0,0,1-.94,4.15A5,5,0,0,1,31.1,43.36Zm-13-16.59A14.71,14.71,0,0,0,3.67,38.13a1.26,1.26,0,0,0,.24,1A1.44,1.44,0,0,0,5,39.69H31.1a1.37,1.37,0,0,0,1.08-.52,1.25,1.25,0,0,0,.24-1A14.7,14.7,0,0,0,18.06,26.77Z" style="fill: #140a82"/>
                      <path id="Tracé_217" data-name="Tracé 217" d="M18.06,19.56a9.78,9.78,0,1,1,9.78-9.78,9.78,9.78,0,0,1-9.78,9.78Zm0-15.89a6.11,6.11,0,1,0,6.11,6.11,6.11,6.11,0,0,0-6.11-6.11Z" style="fill: #140a82"/>
                    </g>
                  </g>
                </g>
              </svg>
          </span>
          <p class="ml-3 truncate font-medium text-white">
            <span class="hidden md:inline">Des expéditeurs ont été récemment ajoutés mais sont inactifs.</span>
          </p>
        </div>
        <div class="order-3 mt-2 w-full flex-shrink-0 sm:order-2 sm:mt-0 sm:w-auto">
          <a onclick="RemoveBanner()" href="{{ path('app_expediteur', {openDetails: true}) }}" class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-2 text-sm font-medium text-indigo-600 shadow-sm hover:bg-indigo-50">Voir</a>
        </div>
        <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
          <button onclick="RemoveBanner()" type="button" class="-mr-1 flex rounded-md p-2 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
            <span class="sr-only">Dismiss</span>
            <!-- Heroicon name: outline/x-mark -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
</div>

<script>
  if(sessionStorage.getItem('isBannerRemoved') == 'true') RemoveBanner();
</script>
{% endblock %}