{% block body %}
<div id="maintenanceBanner" class=" bg-red-600">
    <p class="truncate font-medium text-white text-center py-4">
    Maintenance prévu à partir de 16 h. L'accès aux services de l'espace Client et Admin seront inaccessibles.
    </p>
</div>
{% endblock %}