{% block body %}
<div id="maintenanceBanner" class=" bg-red-600">
    <p class="truncate font-medium text-white text-center py-4">Service momentanément indisponible entre 16h et 17h pour une raison de maintenance</p>
</div>
{% endblock %}