@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    header {
        display: none;
    }
}

.switch {
    transform: translateX(100%);
    margin-top :20px;
    margin-bottom: 10px;
	display: inline-block;
	position: relative;
	width: 35px;
	height: 20px;
	cursor: pointer;
	overflow: hidden;
}

.switch input {
	position: absolute;
	top: -0px;
	left: -0px;
	width: 0;
	height: 0;
}
.switch input + span {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #99b4df;
   border-radius: 10px;
}

.switch input:checked + span {
	background: #346abf;
}

.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 2px;
	width: 16px;
	height: 16px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}

.switch input:checked + span:before {
	left: 17px;
}

.rectangle-container {
    border: 2px solid #140A82;  /* Épaisseur et couleur des contours */
    border-radius: 10px;        /* Rayon pour les coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Ombre portée pour l'effet de volume */
    padding: 20px;             /* Espacement à l'intérieur du rectangle */
    margin: 20px;              /* Espacement autour du rectangle */
}

#number {
    color: #140A82;          
    font-size: 48px;         
    padding-right: 8px;      
}


