{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}
	Statistiques Facteur
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="/libs/chart.js/chart.min.js"></script>
{% endblock %}

{% block body %}
	<main class="flex justify-center w-[95%] m-auto">
		<div class="fixed w-[70%] p-10">
			<p class="text-center m-5 text-xl my-10">
				Nombre de courriers envoyés sur une période de 1 an par <span class="text-[#140A82]">{{ facteur.nom }}</span>
			</p>
			<p>{{ render_chart(chart) }}</p>
		</div>
	</main>
{% endblock %}
