{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"/>
{% endblock %}

{% block body %}
<main class="w-[95%] m-auto">
    <section class="">
        <a class="text-white bg-[#1d71d0] p-2 rounded" href="{{ path('app_accueil') }}">Retour à l'accueil</a>
        <div class="flex justify-between">
            
        </div>
    </section>
</main>
{% endblock %}
