{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<main class="w-[95%] m-auto">
    <h1 class=" mb-4 text-xl font-semibold text-[#140A82]">Créer un expéditeur</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_facteur') }}">Retour</a>
    </div>
    <p> Les champs obligatoires sont marqués par un * </p>
    {{ form(form) }}
</main>
{% endblock %}
