<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Step-Post | {% block title %}{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.2.0/dist/turbo.es2017-esm.js" type="module"></script>
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
    </head>
        
    <body>
        <main class="min-h-screen flex flex-col justify-between">
            <div>
                {% include('partials/_header.html.twig') %}
                {% if errorMessage != null %}
                    {% include "partials/_errorAlert.html.twig" %}
                {% endif %}
                {% if expediteursInactifs != null %}
                    {% include "partials/_banner.html.twig" %}
                {% endif %}
                {% block body %}{% endblock %}
            </div>
            <div>
                {% include('partials/_footer.html.twig') %}
            </div>
        </main>
    </body>
    
</html>
