{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}



{% block body %}
    <div class="flex justify-between mr-10">
        <div></div>
        <div>
            <a href="{{ path("app_accueil") }}" class="text-white bg-red-500 hover:bg-red-700 p-2 rounded">Retour</a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <div>
            <p>Notes de mises à jour :</p>
            
        </div>
    </div>
{% endblock %}
