{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}

{% block javascripts %}
<script type="module">
    import { Octokit, App } from "https://cdn.skypack.dev/octokit";
    const octokit = new Octokit({
        auth: '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'
    });
    const request = octokit.request('GET /repos/{owner}/{repo}/commits{?sha,path,author,since,until,per_page,page}', {
        owner: 'MartinDHLL',
        repo: 'gestion_projets'
    });
    console.log(request);
</script>
{% endblock %}

{% block body %}
    <div class="flex justify-between mr-10">
        <div></div>
        <div>
            <a href="{{ path("app_accueil") }}" class="text-white bg-red-500 hover:bg-red-700 p-2 rounded">Retour</a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <div>
            <p>Notes de mises à jour :</p>
            
        </div>
    </div>
{% endblock %}
