{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}

{% block body %}
    <div class="flex justify-between mt-10 mr-10">
        <div></div>
        <div>
            <a href="{{ path("app_accueil") }}" class="text-white bg-red-500 hover:bg-red-700 p-2 rounded">Retour</a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <div>
            <p>Notes de mises à jour :</p>
            <p class="mt-2">- Ajout de la possibilité d'exporter les courriers en .xlsx </p>
            <p class="mt-2">- Correction code couleur statistiques</p>
        </div>
    </div>
{% endblock %}
