{% extends 'base.html.twig' %}
{% block javascripts %}
<script type="module" src="toto.js"></script>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}

<main class="w-[90%] m-auto">
    <h1 class=" text-xl font-bold italic text-[#25BA00] mb-2"></h1>
    <section>
        <a id="toto"> connexion </a>

    </section>

</main>

{% endblock %}