{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Éditer le statut{% endblock %}

{% block body %}
    <main class="w-[95%] m-auto">
    <h1 class=" mt-4 text-xl font-semibold text-[#140A82]">Éditer le statut</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_suiviId', {id: id}) }}">Retour</a>
    </div>

    {{ include('suivi_detail/_form.html.twig', {'button_label': 'Modifier'}) }}
    </main>
{% endblock %}
