{% extends 'base.html.twig' %}

{% block body %}
<div>
    <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_client') }}">Retour</a>
    <p>token : {{token}}</p>
    <p>{{ errorHandler }}</p>
</div>
{% endblock %}