{% extends 'base.html.twig' %}

{% block title %}Raisons Sociales{% endblock %}

{% block body %}
<main class="w-[90%] m-auto">
    <div class="flex justify-between items-center">
        <h1 class=" mb-4 text-xl font-semibold text-[#140A82]">Ajouter un client</h1>
        <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_clientsRaisonSociale', {raisonId: raisonId}) }}">Retour</a>
    </div>
    {% for expediteur in clients %}
    <p class=" mb-4 text-x font-semibold">- {{ expediteur.nom }} / {{ expediteur.email }}
        <a class="text-white bg-[#24A640] p-2 rounded"
            href="{{ path('app_addTheClientRaisonSociale', { expediteurId: expediteur.id , raisonId: raisonId }) }}">Ajouter ce client</a>
    </p>
    {% endfor %}
</main>
{% endblock %}