{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Modifier la Raison Sociale{% endblock %}

{% block body %}
<main class="w-[95%] m-auto">
    <h1 class=" mt-4 text-xl font-semibold text-[#140A82]">Modifier la raison sociale</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_raisonSociale') }}">Retour</a>
    </div>
    {{form(form)}}
</main>
{% endblock %}