<form method="post" action="{{ path('app_admin_delete', {'id': user.id}) }}">
    <button onclick="" class="text-red-800 hover:bg-red-700 hover:text-white bg-red-100 p-2 rounded">Supprimer</button>
</form>
