{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Éditer un administrateur{% endblock %}

{% block body %}
<main class="w-[95%] m-auto">
    <h1 class="mt-4 text-xl font-semibold text-[#140A82]">Éditer l'administrateur</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <a class="text-white bg-[#F24E1E] hover:bg-red-700 p-2 rounded" href="{{ path('app_admin') }}">Retour</a>
    </div>
    {{ include('admin/_form.html.twig', {'button_label': 'Modifier'}) }}
    
</main>
{% endblock %}