{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Créer un administrateur{% endblock %}

{% block body %}
<main class="w-[90%] m-auto">
    <h1 class="mb-4 text-xl font-semibold text-[#140A82]">Créer un administrateur</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_admin') }}">Retour</a>
    </div>
    {{ include('admin/_form.html.twig') }}
</main>
{% endblock %}